*{
    padding: 0;
    margin: 0;
    font-family: MyFont, Arial, sans-serif
}
div.tic{
    border: 1px solid #ee2f5b;
}
@font-face {
    font-family: "MyFont";
    src: url("fonts/Agrandir-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AgrandirBold";
    src: url("fonts/Agrandir-GrandHeavy.otf") format("opentype");
}
@font-face {
    font-family: "clashDisplay";
    src: url("fonts/ClashDisplay-bold.otf") format("opentype");
}
@font-face {
    font-family: "clashDisplayBold";
    src: url("fonts/ClashDisplay-Bold.otf") format("opentype");
}

body {
    font-family: "Clash Display";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #08003c;
}
header{
    font-family: "MyFont", Arial, sans-serif;
}

ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
li.active{
    color: #fb4c37;
}
.bi-search{
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    margin-right: 30px;

}
button a.text-completed::after,.text-completed::before{
    content: "SPONSOR";
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #ffff;
    left: 0;
    width: 100%;
    line-height:50px;
    text-transform: capitalize;
    transition: all 400ms;
}
button .text-completed::before{
    content: "REGISTER";
    left: 190px;
    background: linear-gradient(to right #df2771,#fb4c37);
}
button a.text-completed:hover::after{
    left:-170px;
    background: linear-gradient(to right #fb4c37, #df2771);
}
button .text-completed:hover::before{
    left: 0;
}
button a{
    display: flex;
    overflow: hidden;
    width: 120px;
    height: 35px;
    position: relative;
}
button{
    border: none;
    padding: 10px 30px;
    background-color: #fb4c37;
    margin-top: -10px;
}
@keyframes backgroundchange {
    0% {
      background-image: url("/images/DSC_3349-scaled-background.webp");
    }
    25% {
      background-image: url("/images/background2.webp");
    }
    50% {
      background-image: url("/images/background3.webp");
    }
    75% {
        background-image: url("/images/backkgrounnd4.webp");
    }
    100% {
        background-image: url("/images/background5.webp");
     }
}
section#main-banner{
    height: 300px;
    animation: backgroundchange 25s infinite;
    background-size: cover;
}
section#main-banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.hero-part{
    position: relative;
    z-index: 2;
}
section#main-banner{
    background-image: url("/images/main-banner.webp");
    background-size: cover;
    min-height: 100vh;
}
header{
    padding-top: 60px;
}

nav ul li{
    display: inline-block;
    margin-left: 45px;
    font-weight: 600;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    color: white;

}
nav ul li a:hover{
    color: red;
}
.checkbtn{
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: 35px;
    right: 0;
    line-height: 80px;
    margin-right: 0;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

div#anticipate p{
    text-align: center;
    color: #ffffff;
    margin-top: -3px;
    font-weight: 900;
    font-size: 18px;
    font-family: "MyFont", Arial, sans-serif;
    font-style: normal;
    letter-spacing: 5px;
    
}

div#hero p{
    text-align: center;
    font-size: 120px;
    font-weight: 900;
    color: #ffffff;
    padding: 0;
    font-family:  clashDisplay, Arial, sans-serif;
    line-height: 100px;
}
div#describe p{
    text-align: center;
    color: #ffffff;
    font-family: clashDisplay, Arial, sans-serif;
}
div.buy-ticket{
    text-align: right;
}
.buy-ticket a{
    text-decoration: none;
    color: #ffffff;
}
.buy-ticket a:hover{
    color: #08003c;
}
.btn-buy-ticket{
    font-size: 18px;
    border: 1px solid #08003c;
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 0;
    font-family: clashDisplay, Arial, sans-serif;
}
div.btn-sponsor{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: -5px;
}
div.btn-sponsor a{
    font-size: 18px;
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px 5px;
    border-radius: 0;
    font-family: clashDisplay, Arial, sans-serif;
    color: #ffffff; 
    text-decoration: none;
    margin-left: 20px;

}
div.play{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid #08003c;
    text-align: center;
}
div.play .bi-play-fill{
    font-size: 35px;
    color: #ffffff;
}
div.play .bi-play-fill:hover{
    color: rgb(24, 16, 29);
    transition: all .10s;
}

section#countdown{
    margin-top: 50px;
    text-align: center;
}
section#countdown div.box{
    margin: 30px;
    border: 1px solid #ffffff;
    padding: 40px;
    color: #ffffff;
}
section#countdown div.box h1{
    font-weight: 700;
    font-family: clashDisplay, Arial, sans-serif;
    color: #ee2f5b;
}
section#countdown div.box p{
    font-weight: 700;
    font-family: clashDisplay, Arial, sans-serif;
}
section#countdown div.box:last-child{
    margin: 0;
}

/*CSS sECTION FOR THE ABOUT US  */
section.desc{
    margin-bottom: 160px;
}
section.desc div.about{
    margin-left: 40px;
    padding: 10px;
    color: #ffff;
    padding-top: 170px;
}
section.desc div.about p{
    font-size: 18px;
}
p.about-smfest{
    padding: 10px 0;
    letter-spacing: 4px;
    color: #ee2f5b;
    font-family: clashDisplay, Arial, sans-serif;
    font-weight: bold;
}
h1.smfest{
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 60px;
    font-family: clashDisplayBold, Arial, sans-serif;
}
div.btn-readmore a.readmore::after,.readmore::before{
    content: "READ MORE";
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #ffff;
    left: 0;
    width: 100%;
    line-height:60px;
    transition: all 400ms;
}
div.btn-readmore a.readmore::before{
    content: "READ MORE";
    left: 190px;
    background-color: #ee2f5b;
}
div.btn-readmore a.readmore:hover::after{
    left:-170px;
}
div.btn-readmore .readmore:hover::before{
    left: 0;
}
div.btn-readmore a{
    display: flex;
    overflow: hidden;
    width: 170px;
    height: 60px;
    position: relative;
}
div.btn-readmore{
    height: 60px;
    width: 26%;
    display: flex;
    overflow: hidden;
    border: none;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 2px solid #ffffff;
    margin-left: 50px;
    margin-top: 40px;
}
div.contain{
    position: relative;
    padding-right: 0;
    margin-right: 0;
}
div.line-around{
    border-radius: 10px;
    border: 5px  solid #ee2f5b;
    min-height: 100vh;
    width: 80%;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 1;
}
div.content div.image{
    position: absolute;
    top: 145px;
    left: 30px;
    z-index: 2;
}
div.content div.image img{
    height: 100vh;
}
div.placedstatic{
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 30px;
    height: 160px;
    width: 210px;
    background-color: black;
    z-index: 3;
    border: 1px solid #ffffff;
    text-align: center;
    font-family: clashDisplayBold, Arial, sans-serif;
}
div.placedstatic p.numberFour{
    color: white;
    font-weight: 700;
    font-size: 60px;
    
}
div.placedstatic p{
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px;
}

/*CSS SECTION FOR THE WHY CHOOSE US  */
section.second-row{
    margin-bottom: 100px;
}
div.why-us-photo div.line-around{
    border-radius: 10px;
    border: 5px  solid #ee2f5b;
    min-height: 100vh;
    width: 80%;
    margin-right: 20px;
    position: absolute;
    right: 10px;
    top: 100px;
    z-index: 1;
}
div.why-us-photo{
    position: relative;
}
div.photo{
    position: absolute;
    z-index: 2;
    top: 125px;
    left: 80px;
}
div.why-us-photo div.photo img{
    height: 100vh;
    width: 120%;  
}
div.why-us-photo div.placedstatic{
    position: absolute;
    top: 0;
    left: 2px;
    height: 165px;
    width: 230px;
    background-color: #ee2f5b;
    z-index: 3;
    border: 1px solid #ffffff;
    text-align: center;
    font-family: clashDisplayBold, Arial, sans-serif; 
    padding: 0; 
}
div.why-us-photo div.placedstatic p.number{
    font-size: 60px;
    margin-top: 40px;
}
div.why-us-photo div.placedstatic p.global-sponsors{
    font-size: 22px;
}
div.choose-us-desc{
    margin-top: 130px;
    font-family: "AgrandirBold", Arial, sans-serif; 
    color: #ffffff;
    
}
div.choose-us-desc div.choose-us p{
    font-size: 22px;
    letter-spacing: 8px;
    font-weight: bolder;
    color: #df2771;
}
div.choose-us-desc div.become-a-sponsor p{
    font-size: 70px;
    font-weight: 900;
}
div.choose-us-desc div.become-a-sponsor-desc{
    font-weight: 900;
    font-size: 17px;
}
.become-a-sponsor-desc-row{
    margin-bottom: 20px;
}
div.choose-us-desc div.attendee-activation-heading i{
    font-size: 60px;
    margin-right: 20px;
    margin-top: -10px;
}
div.choose-us-desc div.attendee-activation-heading p.hero{
    font-size: 30px;
    line-height: 30px;
}
div.choose-us-desc div.attendee-activation-heading p.description{
    font-size: 18px;
}
div.choose-us-desc div.attendee-activation-heading p.description-exhib{
    font-size: 16px;
}
div.btn-become-a-sponsor a.become-a-sponsorpart::after,.become-a-sponsorpart::before{
    content: "SPONSOR";
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #ffff;
    left: 0;
    width: 100%;
    line-height:60px;
    transition: all 400ms;
}
div.btn-become-a-sponsor a.become-a-sponsorpart::before{
    content: "SPONSOR";
    left: 190px;
    background-color: #ee2f5b;
}
div.btn-become-a-sponsor a.become-a-sponsorpart:hover::after{
    left:-170px;
}
div.btn-become-a-sponsor .become-a-sponsorpart:hover::before{
    left: 0;
}
div.btn-become-a-sponsor a{
    display: flex;
    overflow: hidden;
    width: 170px;
    height: 60px;
    position: relative;
}
div.btn-become-a-sponsor{
    height: 60px;
    width: 26%;
    display: flex;
    overflow: hidden;
    border: none;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 2px solid #ffffff;
    margin-left: 50px;
    margin-top: 40px;
}


/*CSS for the become a volunteer button section*/

div.btn-become-a-volunteer a.become-a-volunteer::after,.become-a-volunteer::before{
    content: "VOLUNTEER";
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #ffff;
    left: 0;
    width: 100%;
    line-height:60px;
    transition: all 400ms;
}
div.btn-become-a-volunteer a.become-a-volunteer::before{
    content: "VOLUNTEER";
    left: 190px;
    background-color: #ee2f5b;
}
div.btn-become-a-volunteer a.become-a-volunteer:hover::after{
    left:-170px;
}
div.btn-become-a-volunteer .become-a-volunteer:hover::before{
    left: 0;
}
div.btn-become-a-volunteer a{
    display: flex;
    overflow: hidden;
    width: 170px;
    height: 60px;
    position: relative;
}
div.btn-become-a-volunteer{
    height: 60px;
    width: 26%;
    display: flex;
    overflow: hidden;
    border: none;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 2px solid #ffffff;
    margin-left: 50px;
    margin-top: 40px;
}
section.exhibit-smfest div.carousel-item img{
    height: 70vh;
}
section.exhibit-smfest{
    color: #ffffff;
    font-family:  clashDisplay, Arial, sans-serif;
}
section.exhibit-smfest p.exhibit-at-smfest{
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -2px;
    word-spacing: -5px;
}
section.exhibit-smfest p.arrow{
    font-size: 80px;
    color: #ee2f5b;
    font-weight: 900;
}

div.carousel{
    margin-bottom: 70px;
}
div.carousel button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ee2f5b;
    top: 45%;
    font-size: 15px;
}
div.carousel button:first-child{
    left: 30px;
}
div.carousel button:last-child{
    right: 5px;
}
section.exhibit-smfest p.smfest-product{
    color: #ffffff;
    font-size: 14px;
}
/*CSS for the get now button section*/

div.btn-get-now a.get-now::after,.get-now::before{
    content: "GET NOW";
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #ffff;
    left: 0;
    width: 100%;
    line-height:60px;
    transition: all 400ms;
}
div.btn-get-now a.get-now::before{
    content: "GET NOW";
    left: 190px;
    background-color: #ee2f5b;
}
div.btn-get-now a.get-now:hover::after{
    left:-170px;
}
div.btn-get-now .get-now:hover::before{
    left: 0;
}
div.btn-get-now a{
    display: flex;
    overflow: hidden;
    width: 170px;
    height: 60px;
    position: relative;
}
div.btn-get-now{
    height: 60px;
    width: 26%;
    display: flex;
    overflow: hidden;
    border: none;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 2px solid #ffffff;
    margin-left: 0;
    margin-top: 30px;
}

/*CSS for the speakers section*/
section.smfest-speakers{
    color: #ffffff;
    font-family: clashDisplayBold, Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
section.smfest-speakers p.speakers{
    letter-spacing: 5px;
    font-size: 23px;
    font-weight: 900;
    margin-top: 30px;
    color: #ee2f5b;
    text-transform: uppercase;
    margin-bottom: 0;
}
section.smfest-speakers p.previous-speakers{
    font-size: 70px;
    font-weight: 900;
    margin-top: 1px;
    letter-spacing: 2px;
}
section.smfest-speakers p.speakers-desc{
    font-size: 19px;
}


/*CSS for the get a ticket section*/
section.smfest-get-a-ticket {
    color: #ffffff;
    font-family: clashDisplayBold, Arial, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
}
section.smfest-get-a-ticket p.categories{
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: 900;
    color: #ee2f5b;
    line-height: 35px;
    margin-bottom: 30px;
    text-transform: uppercase;

}

section.smfest-get-a-ticket p.get-a-ticket{
    font-size: 75px;
    font-weight: 900;
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 50px;
    margin-bottom: 40px;
}
section.smfest-get-a-ticket p.get-a-ticket-desc{
    font-size: 20px;
}
section.smfest-get-a-ticket div.inside-content p.plan-title{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20px;
}
section.smfest-get-a-ticket div.inside-content del.plan-initial-price{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 10px;
}
section.smfest-get-a-ticket div.inside-content p.plan-current-price{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 900;
    color: #df2771;
}
section.smfest-get-a-ticket div.inside-content p.things-to-get{
    font-size: 15px;
    font-weight: 900;
}
section.smfest-get-a-ticket button{
    background-color: transparent;
    margin-bottom: 10px;
    padding: 8px 35px;
    border-radius: 30px;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 20px;
    font-weight: 900;
}
section.smfest-get-a-ticket button:hover{
    padding: 15px 45px;
}


footer{
    background-image: url("/images/background3.webp");
    background-size: cover;
    min-height: 100vh;
    color: #ffffff;
    font-family: clash display;
}
footer div.footer-logo img{
    height: 30vh;
}
footer p.annual-conference{
    margin-top: 20px;
    margin-bottom: 20px;
}

span.social{
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-right: 5px;
    text-align: center;
}
span.social:hover{
    background-color: #df2771;
    border: 1px solid #df2771;
}

footer div.other-pages{
    padding: 50px;
    font-weight: 900;
}
footer div.other-pages h1{
    font-size: 30px;
    color: #ffffff;
}
footer div.other-pages li{
    font-size: 22px;
}
footer div.other-pages li a{
    text-decoration: none;
    color: #c9c5c5;
}
footer div.other-pages li a:hover{
    color: #ee2f5b;
}
footer div.newsletter{
    padding: 50px;
    font-weight: 900;
}
footer div.newsletter h1{
    font-size: 20px;
    margin-bottom: 40px;
}

footer div.newsletter p{
    font-size: 13px;
}
footer div.newsletter input{
    padding: 8px;
    border-radius: 30px;
    background-color: transparent;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 20px;
}
footer div.newsletter button{
    border-radius: 30px;
    padding: 10px;
    color: #ffffff;
    background-color: #df2771;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    outline: none;
}

footer div.footer-desc{
    margin-bottom: 100px;
}




@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        background-color: red;
        top: 120px;
        left: -100%;
        text-align: left;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        padding: 10px;
        text-transform: capitalize;
        margin-left: 20px;
        font-size: 17px;
    }
    nav ul li:last-child{
        margin-bottom: 15px;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
    .bi-search{
        position: absolute;
        left: 50%;
        top: 60px;
    }
    div#anticipate p{
        text-align: center;
        color: #ffffff;
        padding-top: 20px;
        font-weight: 900;
        font-size: 18px;
        font-family: "MyFont", Arial, sans-serif;
        font-style: normal;
        letter-spacing: 5px;
    }
    div#hero p{
        text-align: center;
        font-size: 70px;
        font-weight: 900;
        color: #ffffff;
        font-family:  clashDisplay, Arial, sans-serif;
        line-height: 70px;
    }
    div#hero p:nth-child(2){
        letter-spacing: 30px;
        line-height: 70px;
    }
    
    
    div#describe p{
        text-align: center;
        color: #ffffff;
        font-family: clashDisplay, Arial, sans-serif;
        font-size: 12px;
    }
    section#countdown{
        margin-top: 40px;
    }
    section#countdown div.box{
        padding: 20px;
    }
    .btn-buy-ticket{
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 0;
    }
    div.play{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
    }
    div.play .bi-play-fill{
        font-size: 25px;
        color: #ffffff;
    }
    div.buy-ticket{
        text-align: center;
    }
    div.btn-sponsor{
        text-align: center;
        margin-left: 95px;
        margin-top: 20px;
    }
    div.btn-sponsor a{
        font-size: 15px;
        margin-top: 10px;
    }

    /*CSS SECTION FOR THE ABOUT US  */
    section.desc{
        margin-bottom: 10px;
    }
    section.desc div.about{
        margin-left: 10px;
        padding: 10px;
        color: #ffff;
        padding-top: 560px;
    }
    section.desc div.about p{
        font-size: 14px;
    }
    p.about-smfest{
        padding: 0;
        font-size: 12px;
        font-weight: lighter;
    }
    h1.smfest{
        margin-bottom: 10px;
        font-weight: 900;
        font-size: 30px;
    }
    div.btn-readmore{
        height: 60px;
        width: 46%;
        display: flex;
        overflow: hidden;
        border: none;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        border: 2px solid #ffffff;
        margin-bottom: 70px;
        margin-left: 25px;
        
    }
    div.line-around{
        border-radius: 10px;
        border: 3px  solid #ee2f5b;
        min-height: 50vh;
        width: 80%;
        position: absolute;
        top: 100px;
        z-index: 1;
    }
    div.content div.image{
        position: absolute;
        top: 113px;
        left: 50px;
        z-index: 2;
    }
    div.content div.image img{
        height: 47vh;
        width: 90%;
    }
    div.placedstatic{
        position: absolute;
        bottom: -80px;
        top: 440px;
        right: 15px;
        padding: 15px 10px;
        height: 100px;
        width: 250px;
        background-color: black;
        z-index: 3;
        border: 1px solid #ffffff;
        text-align: center;
    }
    div.placedstatic p.numberFour{
        color: white;
        font-weight: 500;
        font-size: 30px;
        padding: 0;
        
    }
    div.placedstatic p.year{
        font-size: 20px;
    }
    
    /*CSS sECTION FOR THE WHY CHOOSE US  */
    section.second-row{
        margin-bottom: -100px;
    }
    div.why-us-photo div.line-around{
        border-radius: 10px;
        border: 5px  solid #ee2f5b;
        min-height: 50vh;
        width: 80%;
        margin-right: 20px;
        position: absolute;
        right: 10px;
        top: 100px;
        z-index: 1;
    }
    div.why-us-photo{
        position: relative;
    }
    div.photo{
        position: absolute;
        z-index: 2;
        top: 110px;
        left: 20px;
    }
    div.why-us-photo div.photo img{
        height: 50vh;
        width: 105%;  
    }
    div.why-us-photo div.placedstatic{
        position: absolute;
        top: 30px;
        left: 2px;
        height: 120px;
        width: 220px;
        background-color: #ee2f5b;
        z-index: 3;
        border: 1px solid #ffffff;
        text-align: center;
        padding: 0;
    }
    div.why-us-photo div.placedstatic p.number{
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 900;
    }
    div.why-us-photo div.placedstatic p.global-sponsors{
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 5px;
    }
    div.choose-us-desc{
        margin-top: 510px;
        margin-left: 20px;
    }
    div.choose-us-desc div.choose-us p{
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    div.choose-us-desc div.become-a-sponsor p{
        color: #ffffff;
        font-size: 33px;
        font-weight: 900;
    }
    div.choose-us-desc div.become-a-sponsor-desc{
        font-weight: 900;
        font-size: 13px;
    }
    div.choose-us-desc div.attendee-activation-heading{
        margin-bottom: 15px;
    }

    div.choose-us-desc div.attendee-activation-heading i{
        font-size: 40px;
        margin-right: 20px;
        margin-top: -10px;
    }
    div.choose-us-desc div.attendee-activation-heading p.hero{
        font-size: 25px;
        line-height: 30px;
        margin-top: 1px;
    }
    div.choose-us-desc div.attendee-activation-heading p.description{
        font-size: 17px;
        font-weight: lighter;
        margin-top: 0;
    }
    
    div.choose-us-desc div.attendee-activation-heading p.description-exhib{
        font-size: 13px;
    }
    div.btn-become-a-sponsor{
        height: 60px;
        width: 46%;
        display: flex;
        overflow: hidden;
        border: none;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        border: 2px solid #ffffff;
        margin-bottom: 70px;
        margin-left: 25px;
        
    }
    
    /*CSS for the become a volunteer button section*/
    div.btn-become-a-volunteer{
        height: 60px;
        width: 46%;
        display: flex;
        overflow: hidden;
        border: none;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        border: 2px solid #ffffff;
        margin-bottom: 70px;
        margin-left: 25px;
        
    }
    section.exhibit-smfest div.carousel-item img{
        height: 35vh;
    }
    section.exhibit-smfest div.carousel{
        margin-bottom: 50px;
    }
    div.carousel button{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: #ee2f5b;
        top: 45%;
        font-size: 15px;
    }
    section.exhibit-smfest p.smfest-product{
        color: #ffffff;
        font-size: 13px;
    }
    /*CSS for the get now button section*/
    div.btn-get-now{
        height: 60px;
        width: 46%;
        display: flex;
        overflow: hidden;
        border: none;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        border: 2px solid #ffffff;
        margin-bottom: 70px;
        margin-top: 30px;
        margin-left: 0;
        
    }

    section.smfest-speakers{
        color: #ffffff;
        font-family: clashDisplayBold, Arial, sans-serif;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    section.smfest-speakers p.speakers{
        letter-spacing: 5px;
        font-size: 23px;
        font-weight: 900;
        margin-top: 30px;
        color: #ee2f5b;
        line-height: 35px;

    }
    section.smfest-speakers div.carousel{
        margin-bottom: 20px;
    }

    section.smfest-speakers p.previous-speakers{
        font-size: 45px;
        font-weight: 900;
        margin-top: 5px;
        letter-spacing: 2px;
        line-height: 50px;
    }
    section.smfest-speakers p.speakers-desc{
        font-size: 13px;
    }

    section.smfest-get-a-ticket {
        color: #ffffff;
        font-family: clashDisplayBold, Arial, sans-serif;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }
    section.smfest-get-a-ticket p.categories{
        letter-spacing: 5px;
        font-size: 17px;
        font-weight: 900;
        color: #ee2f5b;
        line-height: 35px;
        margin-bottom: 6px;

    }

    section.smfest-get-a-ticket p.get-a-ticket{
        font-size: 37px;
        font-weight: 900;
        margin-top: 5px;
        letter-spacing: 2px;
        line-height: 50px;
    }
    section.smfest-get-a-ticket p.get-a-ticket-desc{
        font-size: 14.5px;
    }
    
    footer{
        min-height: 50vh;
    }

    footer div.footer-logo img{
        height: 20vh;
        margin-bottom: 0;
        justify-content: center;
    }
    footer p.annual-conference{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 900;
        font-size: 17px;
    }
}